<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Introduction

Hello, my name is Nana and this is my first Jupyter Notebook

#### **Purpose of this notebook:**
1. Showcase my newly acquired coding skills
2. Complete the Course
3. Seek feedback of my peers

#### A few simple things I have learned

Simple arithmetic expressions

In [4]:
# sample arithmetic 1
def sum_numbers(a, b, c):
    return (a + b)-c

# example
print(sum_numbers(3, 4, 1))

6

In [10]:
# sample arithmetic 2
def average (a, b, c, d, e, f):
    return (a+b+c+d+e+f)/6

#example 
print (average(3, 5, 6, 12, 41, 38))

17.5


#### Creating tables

***My Cats***

| Coat | Name | Age | Sex|
-------|------|-----|----|
|Tabby | Messi | 2 years | Male |
| Calico | Zeke | 7 years | Female |
| Bicolor | Pippa | 5 Years | Female |

#### Creating numbered lists

My favorite books
1. Great Gatsby
2. Little Prince
3. The Kite Runner
4. Brave New World

In [ ]:
*Thanks a lot for evaluating my work